<div class="row">
  <div class="col-sm-12 col-md-6">
    <ul class="list-unstyled">
      <li ng-repeat="message in messages | orderBy:'-timestamp'">
        <section class="message">
          <h1><small>#{{message.id}}:</small> {{message.author}}
          </h1>

          <blockquote ng-bind-html="message.content | linky:'_blank' ">
          </blockquote>

          <p>- posted on {{message.timestamp | date : "MM/dd/yy @ h:mma" }}</p>

          <a ng-if="message.editable" class="btn btn-warning btn-xs" ui-sref="edit({id: message.id})">edit message</a>
        </section>
      </li>
    </ul>
  </div>
</div>