<section class="chat-add col-md-5 col-sm-12">
  <h1 class="add">Add Message</h1>
  <form ng-submit="saveMessage(message)">
    <div class="form-group">
      <label>Name</label>
      <input class="add-message-author form-control" type="text" ng-model="message.author"/>
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea class="add-message-content form-control" ng-model="message.content"></textarea>
    </div>
    <button class="save-message btn btn-success">Save
    </button>
  </form>  
</section>