h1.author, h1.name {
  /*font-family: 'Lobster Two', cursive;*/
}

.user {
  float: left;
  margin-bottom: 15px;
  
  img {
    margin-right: 10px;
  }
}

.btn-warning {
  background: rgb(219,72,68);
  border-color: rgb(219,72,68);
  &:hover {
    background: white;
    border-color: rgb(219,72,68);
    color: rgb(219,72,68);
  };
}

.btn-success {
  background: rgb(147,204,138);
  border-color: rgb(147,204,138);
  &:hover {
    background: white;
    border-color: rgb(147,204,138);
    color: rgb(147,204,138);
  }
}