.user {
  float: left;
  margin-bottom: 15px;
  
  img {
    margin-right: 10px;
  }
}

.chat-add, .chat-edit {
  margin-bottom: 20px;
}

.btn-warning {
  background: $red;
  border-color: $red;
  color: white;
  &:link {
    color: white;
  }
  &:visited {
    color: white;
    background: $red;
  }
  &:hover {
    background: white;
    border-color: $red;
    color: $red;
  };
  
}

.btn-success {
  background: $green;
  border-color: $green;
  &:hover {
    background: white;
    border-color: $green;
    color: $green;
  }
}