body {
  background-color: white;
  color: black;
  font-family: 'Pontano Sans', sans-serif; }

a {
  font-family: 'Oswald', sans-serif;
  color: #db4844;
  text-decoration: none; }
  a:link {
    color: #db4844;
    text-decoration: none; }
  a:visited {
    color: #db4844; }
  a:hover {
    color: #db4844;
    text-decoration: none; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  color: #28303d; }

blockquote {
  font-family: 'Pontano Sans', sans-serif; }

button, .btn {
  font-family: 'Oswald', sans-serif;
  transition: background 0.5s, color 0.5s; }

.content {
  margin-top: 35px; }

.color-panel {
  background: #f6f5f2;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-bottom: 40px; }
  .color-panel h1 {
    margin-top: 20px; }

nav.global a {
  font-size: 18px;
  color: #28303d;
  transition: color 0.2s ease-in-out; }
  nav.global a:hover {
    color: #db4844; }

.user {
  float: left;
  margin-bottom: 15px; }
  .user img {
    margin-right: 10px; }

.chat-add, .chat-edit {
  margin-bottom: 20px; }

.btn-warning {
  background: #db4844;
  border-color: #db4844;
  color: white; }
  .btn-warning:link {
    color: white; }
  .btn-warning:visited {
    color: white;
    background: #db4844; }
  .btn-warning:hover {
    background: white;
    border-color: #db4844;
    color: #db4844; }

.btn-success {
  background: #93cc8a;
  border-color: #93cc8a; }
  .btn-success:hover {
    background: white;
    border-color: #93cc8a;
    color: #93cc8a; }
